body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image_container {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

img {
  width: 350px;
  height: 700px;
}

@media only screen and (max-width: 768px) {
  img {
    width: 300px;
    height: 600px;
  }
}

@media only screen and (max-width: 424px) {
  img {
    width: 250px;
    height: 500px;
  }
}
